<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-column flex-grow-1">
    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row d-flex flex-grow-1">
            <div class="col-md-2 col-lg-2 offset-lg-1 d-none d-md-block pr-0">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 bg-white border p-0 h-auto">
                <div class="content h-auto">
                    <div class="content-header mt-4 mx-4">
                        <div class="section-title mb-3 clearfix">
                            <div class="h3 font-weight-normal float-left">Questions</div>
                            <a th:if="${user.email} == 'guest@mail.com'" class="btn btn-info btn-sm-3 float-right"
                               onclick="if(!(alert('Please Login to Ask Question'))) return false"
                               href="#">Ask question</a>
                            <a th:if="${user.email} != 'guest@mail.com'" class="btn btn-info btn-sm-3 float-right" href="/"
                               th:href="@{/question/showQuestionForm(userEmail=${user.email})}">Ask Question</a>

                        </div>
                        <div class="search-form-wrapper mb-3 d-flex justify-content-between">
                            <div class="h5 font-weight-normal">
                                <form method="get"
                                      th:action="@{/question/filterQuestions}" class="form-inline my-2 my-lg-0">
                                    <input type="hidden" name="userEmail" th:value="${user.email}">
                                    <input th:required="mandatory" name="searchQuestion" size="50" class="form-control mr-md-2" th:type="text" placeholder="Search Question that already Answered.." aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </div>
                            <div class="buttons">
                                <div class="btn-group mr-2" role="group">
                                    <a class="btn btn-outline-secondary"
                                            type="button"
                                            th:href="@{/question/sortQuestions(userEmail=${user.email}, sortBy='newest')}">Newest</a>
                                    <a class="btn btn-outline-secondary"
                                            type="button"
                                            th:href="@{/question/sortQuestions(userEmail=${user.email}, sortBy='oldest')}">Oldest</a>
                                    <a class="btn btn-outline-secondary"
                                            type="button"
                                            th:href="@{/question/sortQuestions(userEmail=${user.email}, sortBy='maxvote')}">Votes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="questions-list-container border-top">

                        <div class="d-flex float-none question-info px-2 py-3 border-bottom" th:each="question : ${listQuestion}">

                            <div class="row">
                                <div class="col-3">
                                    <div class="votes mb-2 p-1">
                                        &nbsp;&nbsp;<span class="vote-count-post h5 font-weight-bold"
                                                  th:text="${question.vote}">
                                            </span>
                                        <div class="viewcount small">votes</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="status unanswered mb-2 p-1">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<span>0</span>
                                        <div class="small">answers</div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="votes mb-2 p-1">
                                        &nbsp;&nbsp;<span>4</span>
                                        <div class="views small">views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary w-100">
                                <div class="mb-2">
                                    <a class="text-info h5 font-weight-normal"
                                       th:href="@{/question/showQuestion(questionId=${question.id}, userEmail=${user.email}, oldest=0)}"
                                       th:text="${question.title}"></a>
                                </div>
                                <div class="float-left">
                                    <div class="d-inline-block" th:each="tag : ${question.tagList}">
                                        <a class="mr-1 bg-light small rounded p-1 text-info" th:href="${'/'}"
                                           th:text="${tag.name}"></a>
                                    </div>
                                </div>
                                <div class="user-info float-right w-25">
                                    <div class="text-muted small user-action-time"
                                         th:text="'asked ' + ${question.createdAt}">
                                    </div>
                                    <div class="user-details float-left small">
                                        <a th:href="${'/'}"
                                           th:text="${question.userName}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>