<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <title>Save post</title>
</head>
<body>
<div class="all-classes-container abc">
    <table>
        <tr>
            <td>
                <a class="btn btn-info btn-sm-3"
                   th:href="@{/question/showFormForQuestionUpdate(questionId=${question.id})}">
                    Update
                </a>
            </td>
            <td>
                <div th:if="${param.error}">
                    <div class="alert alert-info">Try Delete again
                    </div>
                </div>
                <a class="btn btn-danger btn-sm-3"
                   onclick="if (!(confirm('Are you sure you want to delete this post?'))) return false"
                   th:href="@{/question/deleteQuestion(questionId=${question.id})}">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <h3 align="center" th:text="${question.title}"></h3>
    <th:block>
        <article th:text="${question.content}"></article>
        <b style="font-style: italic" th:text="${question.tags}"></b>
    </th:block>
    <br>
    <hr>
    <br>

    <div class="row" th:each="questionComment : ${questionComments}">
        <div class="col">
            <div class="row">
                <i th:text="${questionComment.content}"></i>
            </div>
            <div class="row">
                <div class="col">
                    <small th:text="questionComment.userName"></small>
                </div>
                <div class="col">
                    <a th:href="@{/questionComment/updateQuestionComment(questionCommentId=${questionComment.id},
                    questionId=${question.id})}">update comment</a>
                </div>

                <div class="col">
                    <a th:href="@{/questionComment/deleteQuestionComment/{questionCommentId}(questionCommentId=${questionComment.id},
                questionId=${question.id})}" class="btn btn-primary">
                        Delete Comment</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3>Comment</h3>
    <form action="#" th:action="@{/questionComment/saveQuestionComment/{myQuestionId}(myQuestionId=${question.id})}"
          th:object="${questionComment}" method="POST">
        <textarea type="text" th:field="*{content}"
               class="form-control mb-4 col-4" placeholder="Add Comment" width="100" height="50">
        </textarea>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <br> <br>
    <a href="/" th:href="@{/user/showHomePage}">Back to Home Page</a>
</div>
</body>
</html>
