<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Comment</title>
</head>
<body>
<div class="container">
    <h3>Update Comment</h3>
    <form action="#" th:action="@{/questionComment/updateQuestionComment(questionId=${question.id})}"
          th:object="${questionComments}" method="POST">
        <textarea type="text" th:field="*{content}"
                  class="form-control mb-4 col-4" placeholder="Add Comment" width="100" height="50">
        </textarea>

        <button type="submit" class="btn btn-info col-2">Save edits</button>

    </form>
    <br> <br>
    <a href="/" th:href="@{/user/showHomePage}">Back to Home Page</a>
</div>
</body>

</html>










