<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <title>Save post</title>
</head>
<body>
<div class="container">
    <hr>
    <p class="h4 mb-4">Save Answer</p>
    <form action="#" method="POST"
          th:action="@{/answers/saveAnswer(questionId=${questionId}, answerId=${answer.id}, userEmail=${userEmail})}"
          th:object="${answer}">

        <input th:field="*{id}" type="hidden"/>
        <input th:field="*{createdAt}" type="hidden"/>
        <input th:field="*{userName}" type="hidden"/>

        <div class="form-inline">
            <textarea th:field="*{content}" style="width:50%; height:60px"></textarea>
            <span class="badge badge-danger ml-2 mb-4"
                  th:errors="*{content}"
                  th:if="${#fields.hasErrors('content')}"></span>
        </div>

        <button class="btn btn-info col-2" type="submit">Publish</button>
    </form>
    <hr>
    <a th:href="@{/question/showQuestion(questionId=${questionId}, userEmail=${userEmail})}">Back Question Answer</a>
</div>
</body>
</html>