<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <title>Save post</title>
</head>
<body>
<div class="all-classes-container abc">
    <table>
        <tr>
            <td>
                <a class="btn btn-info btn-sm-3"
                   th:href="@{/answer/showFormForAnswerUpdate(answerId=${answer.id})}">
                    Update
                </a>
            </td>
            <td>
                <div th:if="${param.error}">
                    <div class="alert alert-info">Try Delete again
                    </div>
                </div>
                <a class="btn btn-danger btn-sm-3"
                   onclick="if (!(confirm('Are you sure you want to delete this post?'))) return false"
                   th:href="@{/answer/deleteAnswer(answerId=${answer.id})}">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <h3 align="center" th:text="${answer.content}"></h3>
    <th:block>
        <article th:text="${answer.userName}"></article>
        <b style="font-style: italic" th:text="${answer.createdAt}"></b>
    </th:block>
</div>

<div align="right" class="all-classes-container">
    <a class="btn btn-success btn-sm mb-3"
       th:href="@{/user/showHomePage}">
        Back to Home Page
    </a><br>

    <br> <br>
    <a th:href="@{/comments/showFormForCommentAdd/{postId}(postId=${post.id})}" class="btn btn-primary btn-sm mb-3">
        Add Comment
    </a>
</div>
</body>
</html>
