<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<body>
    <div th:fragment="footer" class="footer-container p-3 mb-2 bg-dark text-white">
        <div class="container mt-3 text-white">
            <div class="row justify-content-center my-3 text-white">
                <div class="col text-white">
                    <div class="text-white"><a class="text-white" href="#">Tour</a></div>
                    <div><a class="text-white" href="#">Help</a></div>
                    <div><a class="text-white" href="#">Chat</a></div>
                    <div><a class="text-white" href="#">Contact</a></div>
                    <div><a class="text-white" href="#">Feedback</a></div>
                </div>
                <div class="col">
                    <div><a class="text-white" href="#">About</a></div>
                    <div><a class="text-white" href="#">Press</a></div>
                    <div><a class="text-white" href="#">Legal</a></div>
                    <div><a class="text-white" href="#">Private Policy</a></div>
                </div>
                <div class="col">
                    <div><a class="text-white" href="#">Technology</a></div>
                    <div><a class="text-white" href="#">Life / Arts</a></div>
                    <div><a class="text-white" href="#">Science</a></div>
                    <div><a class="text-white" href="#">Other</a></div>
                </div>
                <div class="col">
                    <div><a class="text-white" href="#">Developer jobs</a></div>
                    <div><a class="text-white" href="#">Mobile</a></div>
                    <div><a class="text-white" href="#">Culture / Recreation</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>